@import "../../styles/partials/mixins";
@import "../../styles/partials/colors";

.content {
  padding: 1rem;
  background-color: $alabaster;
  @include tablet {
    padding: 2rem 15rem 2rem 15rem;
  }
  &__header {
    font-size: 1.5rem;
    text-align: center;
    @include tablet {
      font-size: 3rem;
      margin-top: 5rem;
    }
  }
  &__image-container {
    @include tablet {
      display: flex;
      align-items: center;
      margin-bottom: 2rem;
    }
  }
  &__image {
    height: 5rem;
    @include tablet {
      height: 15rem;
    }
    &--primary {
      display: none;
    }
  }
  &__text {
    font-size: 1rem;
    line-height: 2rem;
    padding: 2rem;
  }
  &__rules-container {
  }

  &__button {
    font-size: 1rem;
    color: darkblue;
    font-weight: 600;
    background-color: lightgrey;
    padding: 0.8rem 1rem;
    width: 27.09rem;
    text-align: left;
    border: none;
    cursor: pointer;

    &__wrapper {
      &----left--border {
        border-left: 6px solid #50a1a7;
      }
    }
    &__text {
      font-size: 1rem;
      padding: 0 1rem 1rem;
      background-color: white;
      border-left: 6px solid #50a1a7;
      margin: 0 -0.38rem;
    }
    &__info {
      &--bold {
        width: 42.67rem;
        font-weight: 600;
        color: black;
        background-color: white;
        border-left: 6px solid #50a1a7;
        margin: 0 -0.38rem;
      }
    }
  }
}

.none {
  display: none;
}
