$mercury: #fafafa;
$white: #ffffff;
$light-grey: #e1e1e1;
$silver: #afafaf;
$black: #000000;
$bg-color: #c1bfff;
$font-color: #323232;
$nav-footer-color: #323232;
$btn-color: #6c63ff;
$btn-hover-color: #5a53e6;
$error-state: #d22d2d;
$server: #74aa9c;
