@import "../../styles/partials/mixins";
@import "../../styles/partials/colors";
@import "../../styles/partials/fonts";

.hero {
  &__container {
    height: 100vh;
    background-color: $white;
    @include tablet {
      display: flex;
      height: 100vh;
      align-items: center;
      padding-left: 8rem;
      padding-right: 8rem;
    }
  }
  &__header {
    margin-top: 0;
    font-size: 2rem;
    @include tablet {
      font-size: 4rem;
      color: $black;
    }
  }
  &__sub-header {
    font-size: 0.8rem;
    @include tablet {
      font-size: 1.7rem;
      color: $black;
    }
  }
  &__column {
    padding: 1rem;
    @include desktop {
      padding: 2rem;
      width: 50%;
    }
  }
  &__link {
    display: flex;
    gap: 1rem;
  }
  &__button {
    text-decoration: none;
    color: $white;
    background-color: $purple;
    height: 0.5rem;
    padding: 1rem;
    border-radius: 1.5rem;
    &:hover {
      background-color: $dark-purple;
      cursor: pointer;
    }
  }
  &__image {
    height: 15rem;
    @include tablet {
      height: 25rem;
    }
  }
}
