@import "../../styles/partials/mixins";
@import "../../styles/partials/colors";
@import "../../styles/partials/fonts";

.hero {
  &__container {
    padding-top: 1rem;
    height: 80vh;
    display: flex;
    flex-direction: column;
    //------ https://codepen.io/taniarascia/pen/qOjLjE ------------------

    background: linear-gradient(253deg, #c395e7, #1797d2, #0cc898);
    background-size: 300% 300%;
    -webkit-animation: Background 20s ease infinite;
    -moz-animation: Background 20s ease infinite;
    animation: Background 20s ease infinite;
    //-------------------------------------------------------------------

    @include tablet {
      flex-direction: row;
      align-items: center;
      padding: 2rem 3rem;
    }
    @include desktop {
      padding-left: 8rem;
      padding-right: 8rem;
      height: 80vh;
    }
  }
  &__header {
    margin: 0;
    font-size: 2rem;
    color: $black;
    @include tablet {
      font-size: 3rem;
    }
    @include desktop {
      font-size: 4rem;
      text-align: left;
    }
  }
  &__sub-header {
    font-weight: normal;
    font-size: 1rem;
    color: $black;
    @include desktop {
      font-size: 1.4rem;
      text-align: left;
    }
  }
  &__column {
    padding: 1rem;
    text-align: center;
    @include desktop {
      padding: 2rem;
      width: 50%;
    }
  }
  &__links {
    display: flex;
    justify-content: space-evenly;
    padding-top: 0.8rem;
    @include tablet {
      justify-content: center;
      gap: 2rem;
    }
    @include desktop {
      justify-content: flex-start;
    }
  }
  &__button {
    text-decoration: none;
    font-weight: bold;
    color: $white;
    background-color: $btn-color;
    padding: 0.5rem 0.8rem 0.5rem 0.8rem;
    border-radius: 1.5rem;
    // vertical-align: middle;
    display: flex;
    align-items: center;
    &:hover {
      background-color: $btn-hover-color;
      cursor: pointer;
    }
    &--secondary {
      background-color: $white;
      color: $btn-color;
      border: $btn-color 2px solid;
      &:hover {
        color: $btn-hover-color;
        border-color: $btn-hover-color;
        background-color: $white;
        cursor: pointer;
      }
    }
    @include tablet {
      padding: 0.8rem 1rem 0.8rem 1rem;
      margin: 0;
    }
  }
  &__image {
    height: 15rem;
    width: 100%;
    margin-top: 2rem;
    @include tablet {
      margin-top: 0;
      height: 20rem;
    }
    @include desktop {
      height: 24rem;
      transition: 0.2s;
      &:hover {
        transform: scale(1.02);
      }
    }
  }
}
//----------------------------------------------------------
@-webkit-keyframes Background {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@-moz-keyframes Background {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes Background {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
