@import "../../styles/partials/mixins";
@import "../../styles/partials/colors";

.footer {
  background-color: $black;
  margin: 0;
  color: $white;
  &__main-container {
    padding: 1rem;
    justify-content: center;
    @include tablet {
      display: flex;
    }
  }
  &__logo-container {
  }
  &__logo-link {
  }
  &__logo {
    height: 5rem;
  }

  &__list-container {
    gap: 1rem;
  }
  &__list {
    list-style-type: none;
    padding-right: 2rem;
  }
  &__copyright {
  }
}
