@import "../../styles/partials/mixins";
@import "../../styles/partials/colors";
@import "../../styles/partials/fonts";
.notfound {
  &__image {
    height: 20rem;
    width: 100%;
    @include tablet {
      height: 90vh;
    }
  }
}
