@import "../../styles/partials/mixins";
@import "../../styles/partials/colors";
@import "../../styles/partials/fonts";
.notfound {
  text-align: center;
  &__image {
    height: 15rem;

    @include tablet {
      height: 90vh;
    }
  }
}
