@import "../../styles/partials/mixins";
@import "../../styles/partials/colors";
@import "../../styles/partials/fonts";

.chat {
  padding: 0rem;

  @include desktop {
    padding: 0 25rem 0 25rem;
  }
  &__prompt-container {
    animation: 0.7s ease-out 0s 1 test;
  }
  &__prompt {
    font-size: 1rem;
    margin: 0;
    display: flex;
    justify-content: center;
    background-color: $purple;
    color: $white;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    // border-radius: 1.5rem;
    @include tablet {
      font-size: 1.3rem;
    }
  }
  &__message-container {
    height: 55vh;
    overflow: auto;
    background-color: $alabaster;
    border-radius: 1rem;
    padding: 0 1rem 1rem 1rem;
    display: flex;
    flex-direction: column;
    margin-top: 0.5rem;
    overflow-x: hidden; /* Hide horizontal scrollbar */

    @include tablet {
      height: 65vh;
    }
  }
  &__message-bubble {
    color: $white;
    margin-top: 1rem;
    border-radius: 1.5rem;
    padding: 0.5rem 1rem;
    max-width: 50%;
    overflow-wrap: break-word; //https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Text/Wrapping_Text
  }

  &__message-user {
    animation: 0.2s ease-out 0s 1 slideInFromRight;
    margin-left: auto;
    background-color: $purple;
  }
  &__message-server {
    margin-left: auto;
    animation: 0.2s ease-out 0s 1 slideInFromRight;
    background-color: $mercury;
    color: $black;
  }
  &__message-participant {
    margin-right: auto;
    animation: 0.2s ease-out 0s 1 slideInFromLeft;
    background-color: $silver;
    color: $black;
  }
  &__text-container {
    display: flex;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  &__message-box {
    padding: 0.2rem 0.7rem;
    resize: none;
    width: 100%;
    border-radius: 1.5rem;
    font-family: "AvenirNext LT Pro";
  }
  &__icon {
    height: 1.5rem;
    width: 1.5rem;

    &--disconnect {
      background-image: url(../../assets/icons/disconnect-icon.svg);
      background-size: 2rem;
      background-repeat: no-repeat;
      background-position: center;
    }
    &--send {
      background-image: url(../../assets/icons/send-icon.svg);
      background-size: 2rem;
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  &__button {
    margin: 0 0.5rem;
    border: none;
    display: flex;
    align-items: center;
    border-radius: 50%;
    background-color: $white;
    &:hover {
      background-color: $mercury;
      cursor: pointer;
    }
    @include tablet {
      height: 0.5rem;
      padding: 1rem;
      font-size: 1.2rem;
      border-radius: 100%;
    }
  }
}

// animation ----------------------------------------------
@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

//--------------------------------------------------
@keyframes test {
  0% {
    transform: scale(5);
  }
  100% {
    transform: scale(1);
  }
}
