.chat {
  padding: 10rem;
  background-color: green;
  &__prompt-container {
    background-color: lightcoral;
  }
  &__prompt {
  }
  &__message-container {
    height: 8rem;
    overflow: auto;
    background-color: lightgrey;
  }
  &__username {
  }
  &__message-box {
    resize: none;
  }
  &__button {
    background-color: lightblue;
    margin-left: 2rem;
    padding: 1rem 2rem 1rem 2rem;
    border: none;
    outline: none;
  }
}
