@import "../../styles/partials/mixins";
@import "../../styles/partials/colors";
@import "../../styles/partials/fonts";

.login {
  height: 40vh;
  display: flex;
  align-items: center;
  justify-content: center;
  @include tablet {
    height: 50vh;
  }

  &__container {
    display: flex;
    justify-content: center;
    gap: 1rem;
  }

  &__title {
    font-size: 1.35rem;
    @include tablet {
      font-size: 2rem;
    }
  }
  &__form {
    padding: 0.4rem 1rem;
    border-radius: 1.5rem;
    border-style: solid;
    border-width: 0.1rem;
    background-color: $mercury;
    @include tablet {
      width: 16rem;
    }
  }
  &__button {
    border: none;
    color: $white;
    background-color: $btn-color;
    border-radius: 1.5rem;
    padding: 0.5rem 1rem;
    &:hover {
      background-color: $btn-hover-color;
      cursor: pointer;
    }
    @include tablet {
      font-size: 1.2rem;
    }
  }
  &__error {
    outline-color: $error-state;
    outline-style: solid;
    outline-width: 0.1rem;
  }
  &__error-message {
    font-size: 0.75rem;
    @include tablet {
      font-size: 1.2rem;
    }
  }
}
