@import "../../styles/partials/mixins";
@import "../../styles/partials/colors";
@import "../../styles/partials/fonts";

.nav {
  background-color: $black;
  color: $white;
  width: 100%;
  z-index: 5;

  @include tablet {
    display: flex;
    align-items: end;
    position: fixed;
    justify-content: space-between;
  }

  &__logo {
    height: 5rem;
    justify-content: center;
    @include tablet {
      padding-left: 6.5rem;
    }
  }
  &__list {
    display: flex;
    list-style-type: none;
    gap: 1rem;
    padding-right: 8rem;
  }
  &__item {
    // background-color: $purple;
    padding: 1rem;
    border-radius: 1.5rem;

    &:hover {
      // background-color: $dark-purple;
      cursor: pointer;
    }
  }
  &__link {
    text-decoration: none;
    color: $white;
    padding: 1rem;
  }
}
